body {
    background-color: #9c835f;
}

/* header */

#nav-default .back-button{
    font-size: 50px;
    color: #724c21;
    margin-bottom: 10px;
}

#nav-default img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

#nav-default h2 {
    text-transform: uppercase;
    color: #f9b23d;
    margin-left: 20px;
    margin-bottom: 0px;
}

.display-score {
    font-size: 30px;
    margin-top: 20px;
    color: #47361f;
}

/* game */
.playing-box {
    text-transform: uppercase;
}

.playing-box button {
    background-color: transparent;
    border: none;
}

img.rps {
    width: 130px;
    padding: 15px;
    display: block;
}

img.reset {
    width: 40px;
    margin-top: -15px;
}

.result{
    margin-top: 12rem;
    display: none;
}

#versus{
    font-size: 5rem;
    color: red;
}

.view-result{
    color: white;
    background-color: #4C9654;
    padding: 20px;
    transform: rotate(-30deg);
    position: absolute;
    left: -10px;
}

#draw {
    left: 25px;
}

.choice.active {
    background-color: rgba(213, 208, 187, 0.9);
    border-radius: 20px;
}

@media (max-width: 768px){
    .display-score{
        font-size: 30px;
        margin-top: -20px;
    }

    img.reset {
        margin-top: 0px;
    }
}

@media (max-width: 575px){
    .result{
        margin-top: 0px;
        font-size: 2rem;
        margin-top: 10px;
    }
    
    .view-result{
        transform: none;
        position: static;
    }
}

@media (max-width: 490px){
    #nav-default .back-button{
        font-size: 30px;
        color: #724c21;
        margin-top: 5px;
    }

    #nav-default h2 {
        font-size: 25px;
    }

    #nav-default img {
        height: 30px;
        width: 30px;
    }

    img.rps {
        width: 100px;
        padding: 15px;
    }

    .display-score{
        margin-top: -15px;
    }
}